*.iws
*.iml
*.ipr
*.sha1
*Db.properties
*Db.script
.settings
stacktrace.log
plugin.xml
*.log
*DB.*
cobertura.ser
.DS_Store
target
out
.link_to_grails_plugins
target-eclipse
camunda.tmproj
build
.java-version
