package ${packageName}

import org.camunda.bpm.engine.RuntimeService
import grails.test.mixin.integration.Integration
import grails.transaction.Rollback
import grails.plugin.camunda.test.SampleService
import org.camunda.bpm.engine.TaskService
import org.camunda.bpm.engine.runtime.Execution
import org.camunda.bpm.engine.test.mock.Mocks
import spock.lang.Specification

/**
 * Integration Test for camunda ${simpleName} 
 */
@Integration
@Rollback
class ${simpleName}Spec extends Specification {

    /**
     * 1) Inject camunda process engine API service beans
     */
    RuntimeService runtimeService
    TaskService taskService

    /**
     * 2) Mock your Grail(s) services called from ${simpleName}
     */
    def sample${simpleName}Service = Mock(SampleService)

    /**
     * 3) Register your service mocks to make them accessible via ${simpleName}
     */
    def setup() {
        Mocks.register("sampleService", sample${simpleName}Service)
    }

    def cleanup() {
        Mocks.reset()
    }

    /**
     * 4) Test the various aspects and behaviour of ${simpleName}
     */
    void "Testing a happy walk through ${simpleName}"() {

        given: "a new instance of ${simpleName}"
        runtimeService.startProcessInstanceByKey("${simpleName}")

        when: "completing the user task"
        def task = taskService.createTaskQuery().singleResult()
        taskService.complete(task.id)

        then: "the service method defined for the subsequent service task was called exactly once"
        1 * sample${simpleName}Service.serviceMethod(_ as Execution)

        and: "nothing else was called"
        0 * _

        and: "the process instance finished"
        !runtimeService.createProcessInstanceQuery().singleResult()

    }

}